<h2>Fale comigo</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label for="nome">Nome</label>
    <input
        id="nome"
        [class.campo-erro]="form.get('nome')?.invalid && form.get('nome')?.touched"
        type="text"
        formControlName="nome"
    >
    @if (form.get('nome')?.invalid && form.get('nome')?.touched){
        <p class="erro"> ❌ O campo Nome tem que ter mais de 3 caracteres</p>
    }
    

    <label for="email">E-mail</label>
    <input
        id="email"
        [class.campo-erro]="form.get('email')?.invalid && form.get('email')?.touched"
        type="email"
        formControlName="email"
    > 
    @if (form.get('email')?.invalid && form.get('email')?.touched){
        <p class="erro"> ❌ O campo Email está errado</p>
    }


    <label for="mensagem">Mensagem</label>
    <textarea
        id="mensagem"
        [class.campo-erro]="form.get('mensagem')?.invalid && form.get('mensagem')?.touched"
        formControlName="mensagem"
        rows="4"
    ></textarea>
      @if (form.get('mensagem')?.invalid && form.get('mensagem')?.touched){
        <p class="erro"> ❌ O campo Mensagem tem que ter mais de 10 caracteres</p>
    }


    <button type="submit" [disabled]="enviando || form.invalid">
        {{ enviando ? 'Enviando...' : 'Enviar' }}
    </button>

</form>

@if (sucesso) {
    <p class="ok">{{ sucesso }}</p>
}

@if (erro) {
    <p class="erro">{{ erro }}</p>
}